.heading{

    color: rgb(178, 252, 6);
    font-size: 25px;
    width:100%;
    box-shadow: 5px 5px 5px rgb(255, 218, 7);
}

.note{

    font-size: 16px;
    color: lime;
}

.copy_right_footer{

    position: fixed;
    color:rgb(255, 0, 0);
    bottom:0;
    width:100%;
    line-height: 3px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

canvas{

    border:5px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 5px 5px 5px grey;

}